<section data-ng-controller="MatcheventsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Matchevents</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="matchevent in matchevents" data-ng-href="#!/matchevents/{{matchevent._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="matchevent.created | date:'medium'"></span>
				by
				<span data-ng-bind="matchevent.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="matchevent.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!matchevents.$resolved || matchevents.length">
    	No Matchevents yet, why don't you <a href="/#!/matchevents/create">create one</a>?
    </div>
</section>